@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.header-wrapper{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: clamp(0.6rem,2.5vw,1rem);
}

.head{
  display: flex;
  justify-content: space-between;
}

.h-name{
  padding: 10px;
}

.h-contact{
  padding: 10px;
}

.h-name:hover{
  background-color: #f0f0f0;
  border-radius: 7px;
  cursor: pointer;
}

.h-contact:hover{
  background-color: #f0f0f0;
  border-radius: 7px;
  cursor: pointer;
}

.h-landing{
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: black;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  @media (width >= 60em) {
    flex-wrap: nowrap;
  }
  /* margin-top: 5rem; */
  padding: 1rem;
}

.h-info{
  font-size: clamp(0.7rem, 2vw, 8rem);
  /* font-size: 3rem; */
  text-align: left;
  font-weight: 500;
}

.image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 25px;
  @media(width <= 40em){
    grid-template-columns: 1fr;
  }
}

.image-wrapper{
  width: auto;
  height: 560px;
  background: #f0f0f0;
  background: linear-gradient(37deg, #e5e5e5, #ffffff);
  border-radius: 25px;
  @media(height <= 40em){
    height: 280px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 22px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.image-wrapper:hover{
  background: #f0f0f0;
}

.f-container{
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #c4c4c4;
  margin: 3rem 0 3rem 0;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}